<h3><%= @post.title  %>!!!!!!</h3>
<p>By: <%= @post.author.username %></p>

<% @post.subs.each do |sub| %>
  <%= sub.title %>
<% end %> 

<h3><%= @post.url   %></h3>
<p><%= @post.content   %></p>

<% @post.comments.each do |comment| %>
  <% if comment.parent_comment_id.nil? %>
    <%= comment.content %>
    <a href="<%= comment_url(comment) %>">YO, see these kidzz</a>
  <% end %>
<% end %>

<a href="<%= new_post_comment_url(@post) %>">Add a Comment</a>
<a href="<%=edit_post_url%>">Edit this Post?</a>
