<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%# <%= javascript_include_tag 'application' %> 
  </head>

  <body>

    <h1>MusicApp</h1>

    <% if logged_in? %>
      <h2>Welcome, <%= current_user.email %></h2>

      <form action="<%= session_url %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <%= auth_token %>
        <input type="submit" value="Log Out">
      </form>
    <% else %>
      <a href="<%= new_session_url %>">Log In</a>
    <% end %>

    <%= flash[:errors] if flash[:errors] %>
    <%= yield %>
  </body>
</html>
