<h1>Edit A Cat!</h1>

<form action="<%= cat_url(@cat) %>" method="post">
  <input type="hidden" name="_method" value="patch">

  <label for="name">
    name:
    <input type="text" id="name" name="cat[name]" value="<%=@cat.name%>">
  </label>
  <br>

  <label for="sex">
    sex:
    <br>
    <% if @cat.sex == 'M' %>
      <input type="radio" id="M" name="cat[sex]" value="M" checked="checked"> M <br>
      <input type="radio" id="F" name="cat[sex]" value="F"> F <br>
    <% else %>
      <input type="radio" id="M" name="cat[sex]" value="M"> M <br>
      <input type="radio" id="F" name="cat[sex]" value="F" checked="checked"> F <br>
    <% end %>
  </label>

  <select name="cat[color]" id="color">
    <option value="<%= @cat.color %>"><%= @cat.color %></option>
    <%Cat::COLORS.each do |color|  %>
      <option value="<%=color%>"><%=color%></option>
    <% end %>
  </select>

  <br>

  <label for="birthdate">birthdate
    <input type="date" id="birthdate" name=cat[birth_date] value="<%=@cat.birth_date%>">
  </label>
  <br>

  <textarea name="cat[description]" id="description" cols="30" rows="10"><%= @cat.description %></textarea>
  <br>

  <input type="submit" value="update cat">
</form>