<h1>Show Page</h1>
<table>
    <thead>
        <tr>
            <th colspan="2"><%= @cat.name.capitalize %></th>
        </tr>
    </thead>
    <tbody>
        <tr>
          <td>Attribute</td>
          <td>Value</td>
        </tr>
        <tr>
            <td>Sex</td>
            <td><%= @cat.sex %></td>  
        </tr>
        <tr>
            <td>Color</td>
            <td><%= @cat.color %></td>  
        </tr>
        <tr>
            <td>Birth_Date</td>
            <td><%= @cat.birth_date %></td>  
        </tr>
        <tr>
            <td>Age</td>
            <td><%= @cat.age %></td>  
        </tr>
    </tbody>
</table>
<br>
<%= @cat.description %>
<br>
<a href="<%= cats_url %>">All Cats</a>
<a href="<%= edit_cat_url(@cat) %>">Edit <%= @cat.name %></a>